img {
  height: 200px;
  border-radius: 2px 10px 20px 30px;
  border: 2px solid black;
}
h2 {
  color: rgb(255, 0, 0);
}
a {
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid black;
}
