* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "verde verde verde"
    "vermelho amarelo rosa"
    "azul amarelo rosa";
}
div {
  /* background-color: green; */
  font-size: 50px;
}

/* Linhas  */
/* .um {
  background-color: green;
  grid-column-start: 2;
  grid-column-end: 4;
}
.dois {
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.tres {
  background-color: violet;
  grid-column-start: 2;
  grid-column-end: 4;
}
.quatro {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 4;
} */

/*Area */

.um {
  background-color: green;
  grid-area: verde;
}
.dois {
  background-color: blue;
  grid-area: azul;
}

.tres {
  background-color: violet;
  grid-area: rosa;
}
.quatro {
  background-color: yellow;
  grid-area: amarelo;
}
.cinco {
  background-color: red;
  grid-area: vermelho;
}

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100px 1fr 60px;
  grid-template-rows: 40px 1fr 60px;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: green;
  border: 1px solid black;
  justify-items: center;
}
nav {
  grid-area: nav;
  background-color: aqua;
}
aside {
  grid-area: aside;
  background-color: purple;
}

footer {
  grid-area: footer;
  background-color: blue;
  border: 1px solid black;
  color: aliceblue;
  justify-items: center;
}

.box {
  background-color: brown;
  height: 150px;
}
main {
  overflow: scroll;
  height: 100%;
  background-color: yellow;
  grid-area: main;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 600px) {
  .layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 100px 1fr 60px;
    grid-template-rows: 40px 40px 100px 1fr 60px;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "aside aside aside"
      "main main main"
      "footer footer footer";
  }

  nav ul {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
  }
  li {
    height: 100%;
  }
}
